body {
  background: linear-gradient(to bottom, rgb(255, 146, 146), rgb(253, 73, 73), rgb(255, 146, 146) );  
  text-align: center;
  align-items: center;
  font-family: 'MedievalSharp', cursive;
  margin: 0;
  padding: 0;
  font-size: 40px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  background-color: #ffcece;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  margin: 20px;
}

nav a {
  color: #e91e63;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-size: 50px;
}

nav a:hover {
  text-decoration: underline;
}

.textinicio {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.corpo2 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


  .carrossel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .carrossel-midia {
    width: 900px;
    height: 700px;
    display: none;
    margin: auto;
  }

  .carrossel-midia.ativo {
    display: block;
  }

  .controles {
    margin-top: 20px;
  }

  .controles button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    background-color: white;
    border: 2px solid #ffcece;
    border-radius: 8px;
    transition: 0.3s;
  }

  .controles button:hover {
    background-color: #ffcece;
    color: white;
  }

.contador-container {
  padding: 30px 10px;
  margin-top: 50px;
  margin-bottom: 20px; /* espaço entre imagem e contador */
}

.tempo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.bloco {
  background-color: white;
  padding: 20px 15px;
  border-radius: 8px;
  min-width: 80px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.bloco span {
  font-size: 50px;
  font-weight: bold;
  color: black;
  display: block;
}

.bloco p {
  margin-top: 10px;
  font-size: 15px;
  color: #333;
}

.tempojun h2{
    text-align: center;
    font-family: 'MedievalSharp', cursive;  
}

.hidden-audio {
  display: none;
}

@media (max-width: 600px) {
    .carrossel-midia {
      max-height: 50vh;
    }

    .controles button {
      font-size: 14px;
      padding: 8px 16px;
    }

    .carrossel-container {
      height: auto;
      min-height: 100vh;
    }
}
